body {
  font-size: 14px;
}

#reloadBtn {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

#reloadBtn:focus {
  outline: none;
}

#lastUpdated {
  color: gray;
}

.custom-th {
  background-color: #08A045 !important;
  color: white !important;
}
